In [2]:
#1단계: 데이터 셋 가져오기
data <- read.csv("E:/GoogleDrive/DATASET/dataset2/descriptive.csv", header = TRUE)
head(data)

#2단계: 데이터 셋의 데이터 특성 보기
dim(data)
length(data)
length(data$survey)
str(data)

#3단계: 데이터 특성(최소값, 최대값, 평균, 분위수, 결측치 등) 제공
summary(data)

  resident gender age level cost type survey pass
1  1       1      50   1    5.1  1    1       2
2  2       1      54   2    4.2  1    2       2
3 NA       1      62   2    4.7  1    1       1
4  4       2      50  NA    3.5  1    4       1
5  5       1      51   1    5.0  1    3       1
6  3       1      55   2    5.4  1    3      NA

[1] 300   8

[1] 8

[1] 300

'data.frame':	300 obs. of  8 variables:
 $ resident: int  1 2 NA 4 5 3 2 5 NA 2 ...
 $ gender  : int  1 1 1 2 1 1 2 1 1 1 ...
 $ age     : int  50 54 62 50 51 55 56 49 49 49 ...
 $ level   : int  1 2 2 NA 1 2 1 2 1 2 ...
 $ cost    : num  5.1 4.2 4.7 3.5 5 5.4 4.1 675 4.4 4.9 ...
 $ type    : int  1 1 1 1 1 1 1 NA 1 1 ...
 $ survey  : int  1 2 1 4 3 3 NA NA NA 1 ...
 $ pass    : int  2 2 1 1 1 NA 2 2 2 1 ...

    resident         gender          age            level
 Min.   :1.000   Min.   :0.00   Min.   :40.00   Min.   :1.000
 1st Qu.:1.000   1st Qu.:1.00   1st Qu.:48.00   1st Qu.:1.000
 Median :2.000   Median :1.00   Median :53.00   Median :2.000
 Mean   :2.233   Mean   :1.42   Mean   :53.88   Mean   :1.836
 3rd Qu.:3.000   3rd Qu.:2.00   3rd Qu.:60.00   3rd Qu.:2.000
 Max.   :5.000   Max.   :5.00   Max.   :69.00   Max.   :3.000
 NA's   :21                                     NA's   :13
      cost               type          survey          pass
 Min.   :-457.200   Min.   :1.00   Min.   :1.00   Min.   :1.000
 1st Qu.:   4.425   1st Qu.:1.00   1st Qu.:2.00   1st Qu.:1.000
 Median :   5.400   Median :1.00   Median :3.00   Median :1.000
 Mean   :   8.752   Mean   :1.27   Mean   :2.61   Mean   :1.432
 3rd Qu.:   6.300   3rd Qu.:2.00   3rd Qu.:3.00   3rd Qu.:2.000
 Max.   : 675.000   Max.   :2.00   Max.   :5.00   Max.   :2.000
 NA's   :30         NA's   :26     NA's   :113    NA's   :20